
@{
    ViewBag.Title = "Admin";
}

<h2>Admin</h2>
<div class="panel-collapse">
    <div class="panel-primary">

        <div class="col-md-12 col-xs-8">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Description</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Price</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var c in ViewBag.ItemsList)
                     {
                    <tr>
                        <td>@c.Name</td>
                        <td>@c.Description</td>
                        <td>@c.Quantity</td>
                        <td>@c.Price</td>
                        <td><a href="/Home/Edit?Name=@c.Name">Edit</a></td>
                        <td><a href="/Home/Delete?TaskID=@c.TaskID">Delete</a></td>
                    </tr>

                     }
                </tbody>
            </table>

        </div>
        
    </div>
</div>
<br /><br />
            <td><form action="/Home/AddItem" method="post">
    <input type="hidden" id="userID" name="userID" value="@ViewBag.userID" />
    <input type="submit" value="Add a task" />
</form></td>





